@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
html {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

body {
    width: 90vw;
    display: grid;
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer"
    ;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    width: 100%;
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

main {
    background-color: bisque;
    grid-area: main;
}

footer {
    background-color: blue;
    grid-area: footer;
}

/* Header */
.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav > a {
    padding: 1% 3%;
    border-radius: 15px;
    color: rgb(29, 91, 248);
    font-size: 24px;
}

a.active {
    background-color: #145DA0;
    color: #fff;
}

.header-nav > a:hover {
    background-color: #145DA0;
    color: #fff;
}

/* Sidebar */
.sidebar > h1 {
    font-size: 22px;
    font-weight: 400;
}
.continent-nav {
    padding: 0 1vh;
    line-height: 3vh;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    gap: 1vh;
}

.continent-nav > a {
    padding-left: 15%;
    border-radius: 5px;
}

.continent-nav > a:hover {
    background-color: #B1D4E0;
    color: #fff;
}

@media screen and (max-width: 600px) {
    body {
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
    ;  
    }

    .sidebar {
        display: none;
    }
}